.wrapper-auth {
    border-radius: 1rem;
    background-color: #393a3f;
    padding: 1rem;

}

.auth.layout {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}